header{

height:70px;

background:#2E7D32;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 40px;

color:white;

}

.usuario{

display:flex;

align-items:center;

gap:20px;

}

.usuario button{

padding:10px 20px;

border:none;

border-radius:8px;

background:white;

color:#2E7D32;

cursor:pointer;

font-weight:bold;

}

main{

padding:40px;

}

.cards{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:20px;

margin-bottom:30px;

}

.card{

padding:30px;

border-radius:15px;

color:white;

box-shadow:0 10px 25px rgba(0,0,0,.15);

}

.card h1{

font-size:45px;

margin:15px 0;

}

.card-verde{

background:#2E7D32;

}

.card-azul{

background:#1565C0;

}

.card-amarelo{

background:#F9A825;

}

.acoes{

margin-bottom:30px;

}

.botao{

padding:15px 30px;

background:#1565C0;

color:white;

text-decoration:none;

border-radius:10px;

font-weight:bold;

}

.painel{

display:grid;

grid-template-columns:1fr 1fr;

gap:20px;

}

.box{

background:white;

padding:25px;

border-radius:15px;

box-shadow:0 10px 20px rgba(0,0,0,.08);

min-height:400px;

}

.item{

padding:15px;

margin-bottom:12px;

background:#F5F5F5;

border-radius:10px;

border-left:6px solid #2E7D32;

}

.agendamento{

padding:15px;

margin-bottom:12px;

background:#F5F5F5;

border-left:6px solid #1565C0;

border-radius:10px;

}

@media(max-width:900px){

.cards{

grid-template-columns:1fr;

}

.painel{

grid-template-columns:1fr;

}

header{

padding:20px;

flex-direction:column;

height:auto;

gap:15px;

}

}